<nav class="navbar navbar-dark navbar-expand-sm  fixed-top">


  <div class="container my-container">
    <button class="navbar-toggler custom-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand float-sm-right" routerLink="/">
      <img alt="E-Events" width="35" src="../../assets/img/Logo.png">
      <span class="logo-text"> EVENTS</span>
    </a>
    <div class="collapse navbar-collapse " id="Navbar" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/event-form"><span class="fa fa-home fa-lg"> </span> ADD EVENT </a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/"><span class="fa fa-home fa-lg"> </span> EVENTS </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                                          routerLink="/winners"><span class="fa fa-list fa-lg"> </span> WINNERS </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                                          routerLink="/contact"><span class="fa fa-address-card fa-lg"> </span> CONTACT </a></li>
        <li *ngIf="!user" class="nav-item" routerLinkActive="active">
          <a (click)="toggleNavbar()" class="nav-link"
             routerLink="/login"><span class="fa fa-address-card fa-lg"> </span> LOGIN </a>
        </li>
        <li *ngIf="user" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
            {{userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" routerLink="/manage-events">Manage Your Events</a>
            <a class="dropdown-item" href="#" routerLink="/register">Edit Profile</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout<span class="fa fa-address-card fa-lg"> </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="logoutModal" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title"><strong>Sure to Logout?</strong></div>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" (click)="logout()">Yes</button>
        <button class="btn btn-dark" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
