<div class="container mt-5 pt-1">
  <div class="row">
    <div class="col-md-6 h1">Winners</div>
    <div class="col-md-6 mt-2">
      <!--Filter-->
      <input type="text" class="form-control" placeholder="Search Event Name" [(ngModel)]="searchInput">
      <!--<i class="fa fa-search search-icon"></i>-->
    </div>
  </div>

  <hr>

  <div *ngIf="!loaded" class="my-class">
    <div class="loader">Loading...</div>
  </div>

  <div *ngIf="loaded" class="accordion" id="winnerAccordion">

    <div *ngFor="let e of eventsList | filter: 'eventName': searchInput ;index as i" class="card">
      <div class="card-header justify-content-center" [id]="'heading'+i">
        <span class="mb-0 text-uppercase">
          <a class="btn btn-link heading" type="button" data-toggle="collapse" [href]="'#collapse'+i"
             aria-expanded="true"
             [attr.aria-controls]="'collapse'+i" (click)="getWinnerDetails(e.winners, eventIds[i])">
            {{e.eventName}} <i class="fa fa-caret-down"></i>
          </a>
          <a class="text-secondary" [routerLink]="['/event', eventIds[i]]">[Details]</a>
        </span>
        <span class="pull-right mt-1">
          <i class="fa fa-calendar"></i> {{e.eventDate.toDate() | date}}&nbsp;&nbsp;
          <i class="fa fa-clock-o"></i> {{e.eventDate.toDate() | date: 'shortTime'}}
        </span>
      </div>

      <div [id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i"
           data-parent="#winnerAccordion">
        <div class="card-body">
          <div class="row">
            <div *ngFor="let winner of winnersList;index as i" class="col-md-4 border p-3">
              <span class="badge badge-pill badge-primary position">{{i+1}}</span> {{winner.firstName + ' ' +
              winner.lastName}}
              <span class="text-primary">( {{winner.email}} )</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
