<app-loader></app-loader>

<div class="container">

  <div class="row  ml-xs-2 mt-5 ">

      <div class="col-12">
        <tabset>
          <tab heading="Participated"  id="tab1">
            <div class="table-responsive-md">
            <table class="table" *ngIf="loaded">
              <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Event Date</th>
                <th>Event Time</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of participatedEvents">
                <td class="text-uppercase">{{x.eventName}}
                  <span *ngIf="x.eventDate.toDate() < this.date" class="badge badge-pill badge-info">ended</span>
                </td>
                <td>{{x.eventDate.toDate() | date: 'mediumDate'}}</td>
                <td>{{x.eventTime.toDate() | date: 'shortTime'}}</td>
                <td>
                  <a class="btn btn-outline-dark" [routerLink]="['../event', x.id]" role="button">Details</a>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
            <div *ngIf="!loaded" class="my-class">
              <div class="loader">Loading...</div>
            </div>
          </tab>
          <tab heading="Posted">
            <div class="table-responsive-md">
            <table class="table" *ngIf="loaded">
              <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Event Date</th>
                <th>Event Time</th>
                <th>Details</th>
                <th>Assign Winners</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of postedEvents">
                <td class="text-uppercase">{{x.eventName}}
                  <span *ngIf="x.eventDate.toDate() < this.date" class="badge badge-pill badge-info">ended</span>
                </td>
                <td>{{x.eventDate.toDate() | date: 'mediumDate'}}</td>
                <td>{{x.eventTime.toDate() | date: 'shortTime'}}</td>
                <td>
                  <a class="btn btn-outline-dark w-100" [routerLink]="['../event', x.id]" role="button">Details</a>
                </td>
                <td>
                  <a class="btn btn-outline-dark w-100" [routerLink]="['/assign-winners', x.id, x.participation]" role="button">Assign Winners</a>
                </td>
                <td>
                  <a class="btn btn-outline-dark w-100" role="button">Edit</a>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
          </tab>
        </tabset>
      </div>
  </div>
</div>
