.container{
  margin-top: 150px;
}
/* .designer-background{ */
  /* background: url("../../assets/img/background.jpg") no-repeat center center fixed;
  background-image: 100%; */
/* } */
.form-right {
  padding-left: 20px
}
.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
input {
  border-radius: 20px;
}
.shift-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
