<!-- <div class="designer-background"> -->
<div id="bg">
<img src="../../assets/img/background.jpg">
</div>
<div class="container text-white">

  <div class="row">
    <div class="col-md-5 image-holder border-right">
      <!--<div class="image-container">-->
      <!--</div>-->
      <!--<h3 class="username">Name</h3>-->
      <h1>E-EVENTS</h1>
    </div>
    <div class="col-md-7 form-right">
      <div class="row shift-center">
        <h2 class="">LOGIN</h2>
      </div>
      <form [formGroup]="loginForm">
        <div class="col-md">
          <label for="email" class="col-form-label">Email Id</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
          <!--<span>* Name is required</span>-->
        </div>
        <div class="col-md">
          <label for="password" class="col-form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
          <!--<span>* Name is required</span>-->
        </div>
        <div  class="shift-center mt-3">
          <button type="submit" class="btn btn-outline-light mb-1" (click)="login()">Login</button>
          <div *ngIf="!isAdmin">
            <p>Register as a <a class="text-white-50" routerLink="/register">CANDIDATE/ COORDINATOR</a>
            </p>
            <button  class="btn btn-outline-danger" (click)="showResetPasswordModal()">Forgot
              Password?</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


<div class="modal fade" id="resetpassword" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title"><strong>Reset Password</strong></div>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <form [formGroup]="">
            <label for="reset">Enter your registered Email Id:</label>
            <input class="form-control" id="reset" placeholder="Email" formControlName="resetEmail">
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-dark" (click)="resetPassword()">Reset</button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
