<div class="container mt-5">
  <div class="row shift-center">
    <h1 class="text-center">Assign Winners (<span *ngIf="currentEvent"><a [routerLink]="['/event', eventId]">{{currentEvent.eventName}}</a></span>)</h1>
  </div>
  <div class="row shift-center">
    <h4 class="text-secondary text-center">Drag the names from: Participants List -> Winners List</h4>
  </div>
  <hr>

  <div *ngIf="!loaded" class="my-class">
    <div class="loader">Loading...</div>
  </div>

  <div *ngIf="!participants || participants[0]===null">
    <h2 class="text-secondary text-center">There are <span class="text-danger">NO PARTICIPANTS </span>in this event.</h2>
  </div>

  <div *ngIf="loaded && (participants && participants[0]!==null)" class="row text-center">
    <div class="col-md-6">
      <div class="drag-drop-container">
        <h2>Participtants</h2>
        <div class="drag-drop-list"
             cdkDropList
             #participantList="cdkDropList"
             [cdkDropListData]="participants"
             [cdkDropListConnectedTo]="[winnerList]"
             (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let p of participants; index as i" cdkDrag>
            {{i+1}}. {{p.name}}
            ({{p.email}})
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="drag-drop-container">
        <h3>Winners</h3>
        <div class="drag-drop-list"
             cdkDropList
             #winnerList="cdkDropList"
             [cdkDropListData]="winners"
             [cdkDropListConnectedTo]="[participantList]"
             (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let w of winners; index as i" cdkDrag>
            {{i+1}}. {{w.name}}
            ({{w.email}})
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-block btn-dark" (click)="declareResults()">Declare Results</button>
  </div>
</div>
