<app-header></app-header>
<app-loader></app-loader>
<div *ngIf="user && user.role !=='admin' && (user.disabled || !user.activate)" class="container alert-disable">
  <alert *ngIf="user.disabled" type="danger">
    <strong>Oh snap!</strong> Your Account is Suspended and now several features of candidate is resticted for you. Kindly contact the admin.
  </alert>
  <alert *ngIf="user.role==='coordinator' && !user.activate" type="danger">
    <strong>Oh snap!</strong> You can not perform activities as a coordinator as your account is suspended. Kindly
    contact the admin.
  </alert>

</div>
<router-outlet></router-outlet>

