<div class="container">
  <!--<div class="row mt-4">-->
  <!--<h3>FILTERS</h3>-->
  <!--</div>-->
  <!--<hr>-->
  <div class="row  ml-xs-2 mt-5 ">

    <div class="col-sm-8 col-xs-12 mt-2">
      <div>
        <tabset>
          <tab heading="Live / Upcoming" id="tab1">
            <div *ngIf="loaded">
              <div *ngFor="let x of upEvents">
                <app-event-card [event]="x" [admin]="adminPage"></app-event-card>
              </div>
            </div>
            <div *ngIf="!loaded" class="my-class">
              <div class="loader">Loading...</div>
            </div>
          </tab>
          <tab heading="Past" id="tab2">
            <div *ngIf="loaded" style="min-height: 400px;">
              <div *ngFor="let x of pEvents">
                <app-event-card [event]="x" [admin]="adminPage"></app-event-card>
              </div>
            </div>
            <div *ngIf="!loaded" class="my-class">
              <div class="loader">Loading...</div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <div *ngIf="!adminPage" class="col-md-4">
      <tabset>

        <tab heading="Recommended">
          <div class="card mt-2" *ngFor="let x of upEvents">
            <div class="card-header font-weight-bold">
              <a class="h5" [routerLink]="['/event', x.id]">{{x.eventName}}</a>
              <span class="float-right mr-2">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{x.eventDate.toDate() | date: 'mediumDate'}}
              </span>
            </div>
            <div class="card-body">
              <span class="card__text">{{x.eventCaption}}</span>
              <span class="pull-right text-dark">
                <i class="fa fa-tag" aria-hidden="true"></i>
                {{x.eventType}}
              </span>
              <p class="card__description">{{x.eventDescription}}</p>
            </div>
          </div>

        </tab>
      </tabset>
    </div>
  </div>
</div>
