<div class="container">
<div class="row  ml-xs-2 mt-5 ">

  <div class="col-sm-8 col-xs-12 mt-2">
    <div>
      <tabset >
        <tab heading="Live / Upcoming"  id="tab1">
          <div *ngIf="loaded">
            <div *ngFor="let x of upEvents">
              <app-event-card [event]="x" ></app-event-card>
            </div>
          </div>
          <div *ngIf="!loaded" class="my-class">
            <div class="loader">Loading...</div>
          </div>
        </tab>
        <tab heading="Past">
          <div *ngIf="loaded" style="min-height: 400px;">
            <div *ngFor="let x of pEvents">
              <app-event-card [event]="x"></app-event-card>
            </div>
          </div>
          <div *ngIf="!loaded" class="my-class">
            <div class="loader">Loading...</div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

  <div *ngIf="!adminPage" class="col-md-4">
    <tabset>
      <tab heading="Winners">
        <div class="card">
          <div class="card-header font-weight-bold">
            <span>Blind Coding</span>
            <span class="float-right mr-2"><i class="fa fa-calendar" aria-hidden="true"></i>Nov 16,19</span>
          </div>
          <div class="card-body">
            <div>
              <span class="badge badge-pill badge-info mr-3">First</span>
              <span>Harshit Gupta (1614310088)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Second</span>
              <span>Himanshu Kushwaha (1614310090)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Third</span>
              <span>Om Prakash (161430131)</span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header font-weight-bold">
            <span>Treasure Hunt</span>
            <span class="float-right mr-2"><i class="fa fa-calendar" aria-hidden="true"></i>Nov 16,19</span>
          </div>
          <div class="card-body">
            <div>
              <span class="badge badge-pill badge-info mr-3">First</span>
              <span>Harshit Gupta (1614310088)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Second</span>
              <span>Himanshu Kushwaha (1614310090)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Third</span>
              <span>Om Prakash (161430131)</span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header font-weight-bold">
            <span>Codeamania</span>
            <span class="float-right mr-2"><i class="fa fa-calendar" aria-hidden="true"></i>Nov 16,19</span>
          </div>
          <div class="card-body">
            <div>
              <span class="badge badge-pill badge-info mr-3">First</span>
              <span>Harshit Gupta (1614310088)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Second</span>
              <span>Himanshu Kushwaha (1614310090)</span>
            </div>
            <div>
              <span class="badge badge-pill badge-info mr-3">Third</span>
              <span>Om Prakash (161430131)</span>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
</div>
