<div id="bg">
  <img src="../../assets/img/background.jpg">
</div>
<div class="container text-white">
  <div *ngIf="!editState" class="row shift-center">
    <h2>REGISTER</h2>
  </div>
  <div *ngIf="editState" class="row shift-center">
    <h2>EDIT USER INFO</h2>
  </div>

  <form *ngIf="registerForm" [formGroup]="registerForm" class="pt-4">

    <div class="row shift-center ml-md-1 pb-3">
      <!--<div class="custom-control custom-radio mr-md-4">-->
        <!--<input class="custom-control-input" id="candidateradio" type="radio" value="candidate" formControlName="role">-->
        <!--<label class="custom-control-label" for="candidateradio">Candidate</label>-->
      <!--</div>-->
      <!--<div class="custom-control custom-radio">-->
        <!--<input class="custom-control-input" id="coordinatorradio" type="radio" value="coordinator"-->
               <!--formControlName="role">-->
        <!--<label class="custom-control-label" for="coordinatorradio">Coordinator</label>-->
      <!--</div>-->
      <label class="btn btn-danger mr-1 font-weight-bolder">
        <input id="candidateradio" type="radio" value="candidate" formControlName="role">
        Candidate
      </label>
      <label class="btn btn-danger ml-1 font-weight-bolder">
        <input id="coordinatorradio" type="radio" value="coordinator" formControlName="role">
        Coordinator
      </label>
    </div>
    <div *ngIf="registerForm.get('role').invalid && formSubmitted" class="badge-pill alert-danger mb-1" role="alert">
      Please Choose Your Role!!
    </div>

    <div class="row">
      <div class="col-md-6 custom-border">
        <div class="image-holder">
          <img class="image-container" [src]="imageUrl" [ngStyle]="{'background-image': '+image+'}">
          <!-- <div class="image-container" [style.background-image]="sani'url(https://firebasestorage.googleapis.com/v0/b/e-events-3964d.appspot.com/o/userImages%2Fdownload%20(8)_1589557908027?alt=media&token=a53d7395-da68-4fbb-a366-8b73fb8ed95b)'"> -->

          <input type="file" accept="image/*" (change)="showPreview($event)">
        </div>
        <div class="">
          <label for="name" class="col-form-label">First Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="First Name"
                 formControlName="firstName">
          <!--<span *ngIf="">* Name is required</span>-->
        </div>
        <div class="">
          <label for="lname" class="col-form-label">Last Name</label>
          <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"
                 formControlName="lastName">
          <!--<span>* Name is required</span>-->
        </div>
        <div *ngIf="!editState" class="">
          <label for="rollno" class="col-form-label">Roll Number</label>
          <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll Number"
                 formControlName="rollNumber">
          <!--<span>* Name is required</span>-->
        </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="editState" class="">
          <label for="rollnoedit" class="col-form-label">Roll Number</label>
          <input type="text" class="form-control" id="rollnoedit" name="rollno" placeholder="Roll Number"
                 formControlName="rollNumber">
          <!--<span>* Name is required</span>-->
        </div>
        <div class="">
          <label for="email" class="col-form-label">Email Id</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
          <!--<span>* Name is required</span>-->
        </div>
        <div class="">
          <label for="mobile" class="col-form-label">Mobile Number</label>
          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number"
                 formControlName="mobile">
          <div
            *ngIf="((registerForm.get('mobile').touched && registerForm.get('mobile').invalid) && (registerForm.get('mobile').touched && formSubmitted))"
            class="badge-pill alert-danger mt-1" role="alert">
            Please Enter 10 DIGIT Valid Mobile Number
          </div>
        </div>
        <div class="">
          <label for="department" class="col-form-label">Department</label>
          <select type="text" class="form-control" id="department" name="department" formControlName="department">
            <option value="CSE">CSE</option>
            <option value="EN">EN</option>
            <option value="ECE">ECE</option>
            <option value="IT">IT</option>
            <option value="CE">CE</option>
            <option value="ME">ME</option>
            <option value="BT">BT</option>
          </select>
          <!--<span>* Name is required</span>-->
        </div>
        <div class="">
          <label for="year" class="col-form-label">Year</label>
          <select type="text" class="form-control" id="year" name="year" formControlName="year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <!--<span>* Name is required</span>-->
        </div>
        <div class="" *ngIf="!editState">
          <label for="password" class="col-form-label">Set Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <!--<span>* Name is required</span>-->
          <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
               class="badge-pill alert-danger mt-1" role="alert">
            Password should be min. 8 characters long!!!
          </div>
        </div>
        <div class="" *ngIf="!editState">
          <label for="copassword" class="col-form-label">Confirm Password</label>
          <input type="password" class="form-control" id="copassword" placeholder="Confirm Password"
                 formControlName="cpassword">
          <!--<span>* Name is required</span>-->
          <div
            *ngIf="(registerForm.get('password').value!==registerForm.get('cpassword').value) && registerForm.get('password').touched"
            class="badge-pill alert-danger mt-1" role="alert">
            Password does'nt match!!!
          </div>
        </div>
      </div>

    </div>
    <div class="row shift-center mb-2">
      <button *ngIf="!editState" type="button" class="btn btn-outline-light w-25 btn-block mt-4" (click)="addUser()">
        Register
      </button>
      <button *ngIf="editState" type="button" class="btn btn-outline-light mt-4" (click)="editUser()">Confirm Edit
      </button>
    </div>
  </form>
</div>
